/* @theme PKUSimple_AGU */

@charset "UTF-8";
@import 'gaia';
@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Roboto+Mono:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --color-pku: #3884fd;
  --color-background: #fff;
  --color-foreground: #333;
  --color-highlight: #2177fc;
  --font-size-xxxs: 16px;
  --font-size-xxs: 18px;
  --font-size-xs: 24px;
  --font-size-s: 28px;
  --font-size-base: 32px;
  --font-size-l: 36px;
  --font-size-xl: 40px;
  --font-size-xxl: 44px;
  --font-size-xxxl: 48px;
  --font-size-xxxxl: 52px;
}

section {
  font-size: var(--font-size-l);
  /* old 24px */
  padding-left: 50px;
  text-align: left;
  font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background: var(--color-background);
  padding-top: 140px;
  color: black;
}

h1 {
  color: var(--color-pku);
  font-size: var(--font-size-xxxl);
  /* old 36px */
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-size: var(--font-size-xxl);
  /* old 32px */
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  text-align: left;
  font-weight: bold;
  font-size: var(--font-size-xl);
  /* old 28px */
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  text-align: left;
  font-weight: bold;
  font-size: var(--font-size-l);
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

h5 {
  text-align: left;
  font-size: var(--font-size-l);
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "KaiTi SC";
  font-weight: bold;
}

h6 {
  text-align: left;
  font-size: var(--font-size-l);
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "KaiTi SC";
  font-weight: normal;
}

p {
  margin-top: 5px;
}

header {
  left: 50px;
  right: 50px;
  top: 30px;
  height: 80px;
  background-image: url('./images/PKUlogo_long_aogaku.svg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 200px;
  text-align: left;
  color: var(--color-pku);
  font-weight: bold;
  font-size: var(--font-size-xxxxl);
  /* old 48px */

  border-bottom: var(--color-pku) 2px solid;
}

footer {
  font-size: var(--font-size-xxs);
  text-align: left;
  position: absolute;
  color: gray;
  width: 90%;
  /* height: 50px; */
  /* border-top: gray 2px dashed; */
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0;
  bottom: 0px;
}

/* formatting page numbers*/
section::after {
  font-size: var(--font-size-xxxxl);
  /* color:darkgray; */
  margin-bottom: 13px;
  font-weight: 600;
  color: var(--color-pku);
  /* https://github.com/yhatt/marp/issues/263 */
  content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}

img[alt~='center'] {
  display: block;
  margin: 0 auto;
}

ul {
  font-size: var(--font-size-l);
}

/* ol,li嵌套的时候字体变小 */
ul ul {
  font-size: var(--font-size-s);
}

/* 代码块 */
code {
  font-family: 'Source Code Pro', monospace;
  background-color: rgba(100, 100, 100, 0.1);
  color: red;
}

pre {
  background-color: #333;
  margin-bottom: 30px;
}

pre code {
  font-size: var(--font-size-xs);
  color: lightyellow;
}

table {
  margin-left: auto;
  margin-right: auto;
}

/* 引用块 */
blockquote {
  border-left: 5px solid var(--color-pku);
  display: block;
  /* font-family: 'Times New Roman', Times, serif; */
  background-color: rgba(100, 100, 100, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

blockquote::after {
  content: ' ';
}

blockquote::before {
  content: ' ';
}

/** 页面模版 **/
/* Section title */
section.title {
  background-image: url('./images/PKUSimple_title_bg_aogaku.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: aquamarine; */
  padding-top: 250px;
}

section.title h1 {
  color: var(--color-pku);
  text-align: left;
  font-size: 72px;
  /* 表紙 */
  font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  max-width: 85%;
}

section.title h2 {
  font-size: var(--font-size-base);
  text-align: left;
  font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

section.title h3 {
  font-size: var(--font-size-base);
  text-align: left;
  position: fixed;
  top: 75%;
  font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: whitesmoke;
}

section.title h4 {
  font-size: var(--font-size-xs);
  text-align: left;
  position: fixed;
  top: 85%;
  font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: whitesmoke;
  font-style: normal;
}

section.title p {
  text-align: left;
}

/* Content Page */
section.content {
  background-image: url('./images/PKUSimple_content_bg_aogaku.png');
  background-size: 50% 100%;
  background-position: right;
  background-repeat: no-repeat;
  justify-content: start;
}

section.content h1 {
  color: var(--color-pku);
  text-align: left;
  font-size: 60px;
  /* 目次 */
  font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  margin-top: -65px;
  padding-top: 0px;
}

section.content h2 {
  color: var(--color-pku);
  text-align: left;
  font-size: var(--font-size-base);
  font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

section.content h3 {
  text-align: left;
  font-size: var(--font-size-l);
  font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  border-left: var(--color-pku) 10px solid;
}

section.content h3 strong {
  /* -webkit-text-stroke: 1px var(--color-pku); */
  padding-right: 15px;
}

/* Chapter Page */
section.chapter {
  background-image: url('./images/PKUSimple_chapter_bg_aogaku.png');
  background-size: 100% 25%;
  background-position: center;
  background-repeat: no-repeat;
}

section.chapter h1 {
  color: whitesmoke;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  vertical-align: center;
  margin-top: 13.5%;
  font-size: 80px;
  /* 章タイトル */
  font-family: "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

section.chapter h1 strong {
  color: whitesmoke;
  font-weight: bold;
  padding-right: 50px;
}

/* Split pages*/
section .columns {
  padding: 5px;
  overflow: visible;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: 'leftpanel rightpanel';
  gap: 1rem;
}